body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


#header {
    background-image: url(https://static.wixstatic.com/media/1d3871_d2ff1902c9ba47bd940de9279f4b14d4~mv2.png/v1/fill/w_1560,h_449,al_c,q_90,enc_auto/1d3871_d2ff1902c9ba47bd940de9279f4b14d4~mv2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    align-items: center;
    -webkit-text-stroke: 1px #000;
    -moz-text-stroke: 1px #000;
}


.custom-nav {
    background-color: #333;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.custom-search-bar {
    display: flex;
    align-items: center;
}


.custom-search-input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    font-size: large;
    width: 300px;
    height: 35px;
}


.custom-search-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    font-size: larger;
    margin-left: 15px;
}

.custom-search-button:hover {
    background-color: transparent;
    color: #fff;
    border: 3px solid #ff5722;
}


.custom-nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: row; 
}


.custom-nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.custom-nav-li{
    padding-bottom: 8px;
    font-size: 25px;
}

.custom-nav-link:hover {
    color: #ff5722;
}

@media screen and (max-width: 768px) {
    .custom-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-search-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-search-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .custom-nav-link {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .custom-nav-list {
        list-style: none;
        display: flex;
        padding: 0;
        flex-direction: column; 
    }

    .custom-nav-li{
        padding-bottom: 8px;
        font-size: medium;
    }
}


.items-nav {
    background-color: #333;
    padding-left: 10px;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
}


.items-nav .custom-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 0px;
    text-align: center;
}



.items-nav .custom-nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px; 
}


@media screen and (max-width: 768px) {
    .items-nav .custom-nav-list {
        flex-direction: column;
        text-align: start;
    }

    .items-nav .custom-nav-link {
        margin: 0;
        margin-bottom: 10px;
    }
}


.center {
    text-align: center;
    font-size: 45px;
    margin: 10px;
}

.order-now {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.order-now:hover {
    background-color: transparent;
    color: #fff;
    border: 3px solid #ff5722;
}


@media screen and (min-width: 768px) {
    .order-now {
        font-size: 25px;
        padding: 13px 13px;
    }
}



#biryani {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#veg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#non-veg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#sweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.food-item {
    margin: 1px 15px 0px 15px;
    text-align: center;
    flex: 1;
   }


.food-item img {
    border-radius: 50%;
    width: 100%;
    height: 50%;
}


.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.food-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.food-price {
    font-size: 16px;
}


.order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.order-button:hover {
    background-color: transparent;
    color: #000;
    border: 3px solid #ff5722;
}


@media screen and (min-width: 768px) {
    .order-button {
        font-size: 25px;
        padding: 20px 40px;
        display: inline-block;
        background-color: #ff5722;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}


.testimonials {
    padding: 40px 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.rating {
    font-size: 24px;
    color: #ff9900;
}

.reviewer {
    font-weight: bold;
}

.date {
    color: #888;
}

.review-text {
    margin-top: 10px;
}


.founder {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}


.founder {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}


.founder p {
    font-size: 16px;
    line-height: 1.5;
    color: #393939;
}


@media (max-width: 767px) {
    .founder {
        padding: 20px;
    }

    .founder p {
        font-size: 14px;
    }
}


.social-icons {
    font-size: 24px;
}

.icon {
    text-decoration: none;
    color: #555;
    margin: 0 10px;
}

.icon:hover {
    color: #333;
}

.center-address {
    text-align: center;
    font-size: 20px;
}

footer {
    color: black;
    text-align: center;
    font-weight: 550;
    padding: 20px 0;
}

footer p {
    font-size: 16px;
    margin: 0;
}